h1 {
  text-align: center;
}
/*.navUl {
  display: flex;
}
*/@media(max-width:800px){
  .navUl  li {
  display: block;
  }
}
.navUl li {
  list-style-type: none;
  display: inline-block;
}

li {
  margin: 1rem 0;
}

li  a {
  cursor: pointer;
  text-decoration: underline;
}